.dot__portfolio {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: -51px;
}

.portfolio {
  background-image: url(../images/bg5.png), url(../images/bg5-2.png);
  background-repeat: no-repeat;
  background-position: right bottom, left;
  background-size: contain;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(249, 249, 249);
  @media screen and (max-width: 1400px) {
    display: none;
  }
}

.portfolio__title {
  font-weight: 100;
  font-size: 36px;
  line-height: 40px;
  color: var(--color-text-black);
  margin-bottom: 60px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.portfolio__item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  transition: 0.3s;
}
.portfolio__item:hover {
  box-shadow: 0px -1px 11px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px -1px 11px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -1px 11px 1px rgba(0, 0, 0, 0.2);
}

.portfolio__link {
  color: var(--color-text-black);
}
.portfolio__image {
  border-radius: 5px 5px 0 0;
  display: block;
  width: 100%;
  object-fit: cover;
}
.portfolio__description {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  background-color: rgba(10, 10, 10, 0.8);
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  padding: 30px;
  transition: transform 0.3s;
}
.portfolio__item:hover .portfolio__overlay {
  transform: translateY(0);
}
.portfolio__description_content {
  background-color: transparent;
  color: #fff;
  text-align: left;
  margin-bottom: 50px;
}
